In [516]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter
from pandas import DataFrame

In [517]:
df = pd.read_excel (r'C:\Users\nasirib2\OneDrive - Aalto University\Original data, building material.xlsx')
df.tail(20)

,"Building and dwelling production by Construction stage, Province 2019, Building characteristic, Period, Intended use of building and Data",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
140,NaN,1000000,NaN,2014,1.576277,1576277,NaN,1309074,NaN,220471,...,1636781,223530,81538,1331713,6341.0,719761.0,387148.0,375763.0,87157.0,1576170
141,NaN,1000000,NaN,2015,1.364612,1364612,NaN,1106813,NaN,203191,...,1494208,214698,72305,1207205,5811.0,791540.0,467578.0,302279.0,73060.0,1640268
142,NaN,1000000,NaN,2016,1.349587,1349587,NaN,1064998,NaN,235658,...,1535061,182695,73399,1278967,4326.0,889781.0,462312.0,251304.0,65332.0,1673055
143,NaN,1000000,NaN,2017,1.365910,1365910,NaN,1065530,NaN,231106,...,1756862,168959,65707,1522196,3631.0,1023504.0,457437.0,263803.0,66885.0,1815260
144,Latest update:,20191220 11:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,Source:,"Statistics Finland, Building and dwelling prod...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Contact:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,Tilastokeskus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,<A HREF=http://www.stat.fi/tup/rakennettuympar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Copyright,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,Units:,"Pcs, m3, m2",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,Official statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Internal reference code:,ukk-t3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [518]:
# Number of rows to drop
n = 16
  
# Dropping last n rows using drop
df.drop(df.tail(n).index,
        inplace = True)
df.head()

,"Building and dwelling production by Construction stage, Province 2019, Building characteristic, Period, Intended use of building and Data",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Year of construction,NaN,Wooden building,NaN,NaN,NaN,NaN,...,Non-wooden buildings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,Residential buildings,NaN,Detached houses,NaN,Attached houses,...,Residential buildings,Detached houses,Attached houses,Blocks of flats,NaN,NaN,NaN,NaN,NaN,Non-residential buildings
3,NaN,1000000,NaN,NaN,NaN,Gross Floor area (m2),NaN,Gross Floor area (m2),NaN,Gross Floor area (m2),...,Detached houses,Gross Floor area (m2),Gross Floor area (m2),Gross Floor area (m2),NaN,NaN,NaN,NaN,NaN,Gross Floor area (m2)
4,Building completions,1000000,"Building material, Concrete",1995,NaN,1170094,NaN,85891,NaN,108854,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [519]:
df= df.drop(['Building and dwelling production by Construction stage, Province 2019, Building characteristic, Period, Intended use of building and Data', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24','Unnamed: 25', 'Unnamed: 26'], axis= 1)
df.head(100)

,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year of construction,Wooden building,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-wooden buildings,NaN,NaN,NaN,NaN
2,NaN,Residential buildings,Detached houses,Attached houses,Blocks of flats,B Free-time residential buildings,CDE Commercial and office buildings,FGHL Public service buildings,M Agricultural buildings,N Other buildings,Non-residential buildings,NaN,Residential buildings,Detached houses,Attached houses,Blocks of flats,Non-residential buildings
3,NaN,Gross Floor area (m2),Gross Floor area (m2),Gross Floor area (m2),Gross Floor area (m2),Floor area (m2),Floor area (m2),Floor area (m2),Floor area (m2),Floor area (m2),Gross Floor area (m2),NaN,Detached houses,Gross Floor area (m2),Gross Floor area (m2),Gross Floor area (m2),Gross Floor area (m2)
4,1995,1170094,85891,108854,975349,4639,223345,276914,83968,20425,609291,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2017,24862,10741,2611,11510,722,12245,8719,3809,2897,28392,NaN,NaN,NaN,NaN,NaN,NaN
96,1995,896,362,364,170,217,61,0,1673,140,2091,NaN,NaN,NaN,NaN,NaN,NaN
97,1996,384,384,0,0,69,114,0,1047,126,1356,NaN,NaN,NaN,NaN,NaN,NaN
98,1997,209,209,0,0,80,0,72,244,182,578,NaN,NaN,NaN,NaN,NaN,NaN
99,1998,192,175,0,17,120,0,70,1677,180,2047,NaN,NaN,NaN,NaN,NaN,NaN

In [520]:
df = df.drop(df.index[range(4, 121)])
df

,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year of construction,Wooden building,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-wooden buildings,NaN,NaN,NaN,NaN
2,NaN,Residential buildings,Detached houses,Attached houses,Blocks of flats,B Free-time residential buildings,CDE Commercial and office buildings,FGHL Public service buildings,M Agricultural buildings,N Other buildings,Non-residential buildings,NaN,Residential buildings,Detached houses,Attached houses,Blocks of flats,Non-residential buildings
3,NaN,Gross Floor area (m2),Gross Floor area (m2),Gross Floor area (m2),Gross Floor area (m2),Floor area (m2),Floor area (m2),Floor area (m2),Floor area (m2),Floor area (m2),Gross Floor area (m2),NaN,Detached houses,Gross Floor area (m2),Gross Floor area (m2),Gross Floor area (m2),Gross Floor area (m2)
121,1995,1535633,1306540,207700,21393,369952,196062,88531,378829,453454,1486828,"Building material, NonWood",1248319,149033,115110,984176,901244
122,1996,1431577,1185993,225757,19827,345019,187045,130985,409591,441707,1514347,NaN,1000560,132565,100203,767792,1084364
123,1997,1712180,1398407,287978,25795,332540,207436,90924,515155,455673,1601728,NaN,1271486,160819,120407,990260,1208004
124,1998,1954483,1581016,337246,36221,323410,227169,125456,588080,482178,1746293,NaN,1411431,190037,142690,1078704,1487082
125,1999,2052532,1722435,297534,32563,327891,284273,139549,575190,487027,1813930,NaN,1406302,229768,127145,1049389,1826221
126,2000,2235371,1858874,340249,36248,349555,257100,134490,570026,526430,1837601,NaN,1719092,271994,198552,1248546,1927729
127,2001,2102501,1798687,278123,25691,344226,241505,131393,539294,522887,1779305,NaN,1641405,275208,186862,1179335,2253427
128,2002,2029522,1793070,219491,16961,324020,258262,144947,523831,550129,1801189,NaN,1484224,263383,159277,1061564,2034203
129,2003,2158149,1853159,285708,19282,335454,228492,149878,479063,567496,1760383,NaN,1460667,285452,145734,1029481,2124016
130,2004,2498251,2186282,293119,18850,341718,279040,144975,419853,660769,1846355,NaN,1564049,345911,184040,1034098,1802532
131,2005,2646422,2289884,337827,18711,352329,240900,118858,413060,697399,1822546,NaN,1575245,379949,166442,1028854,2005964
132,2006,2773548,2395645,355615,22288,343433,219365,127548,471585,697985,1859916,NaN,1543989,412720,179635,951634,1954573
133,2007,2833817,2463797,350195,19825,365440,287451,101031,472919,737968,1964809,NaN,1727243,430808,175733,1120702,2086175
134,2008,2478355,2219431,240299,18625,396876,311841,133842,439696,766725,2048980,NaN,1551302,416489,146643,988170,2648068
135,2009,1868195,1687553,163166,17476,369775,215687,141720,385705,728763,1841650,NaN,1078147,314608,61977,701562,2262084
136,2010,1881662,1679336,185903,16423,341243,172574,133384,378313,705708,1731222,NaN,1223968,263395,66855,893718,1788561
137,2011,2137082,1858829,260279,17974,324756,162577,108593,315755,741920,1653601,NaN,1710960,311681,107219,1292060,2041085
138,2012,1999159,1702218,269785,27156,300804,167474,131310,302561,721388,1623537,NaN,1751545,301867,94887,1354791,2176281
139,2013,1791099,1522139,233433,35527,278436,168972,147916,359661,712596,1667581,NaN,1566316,257386,102332,1206598,1454485
140,2014,1576277,1309074,220471,46732,289644,157385,175426,368464,754006,1744925,NaN,1636781,223530,81538,1331713,1576170
141,2015,1364612,1106813,203191,54608,190177,142356,150226,257204,533032,1272995,NaN,1494208,214698,72305,1207205,1640268
142,2016,1349587,1064998,235658,48931,174017,145789,159230,211754,529792,1220582,NaN,1535061,182695,73399,1278967,1673055
143,2017,1365910,1065530,231106,69274,170455,141649,168620,248696,469815,1199235,NaN,1756862,168959,65707,1522196,1815260

In [521]:
df= df.drop([df.index[3]])
df

,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year of construction,Wooden building,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-wooden buildings,NaN,NaN,NaN,NaN
2,NaN,Residential buildings,Detached houses,Attached houses,Blocks of flats,B Free-time residential buildings,CDE Commercial and office buildings,FGHL Public service buildings,M Agricultural buildings,N Other buildings,Non-residential buildings,NaN,Residential buildings,Detached houses,Attached houses,Blocks of flats,Non-residential buildings
121,1995,1535633,1306540,207700,21393,369952,196062,88531,378829,453454,1486828,"Building material, NonWood",1248319,149033,115110,984176,901244
122,1996,1431577,1185993,225757,19827,345019,187045,130985,409591,441707,1514347,NaN,1000560,132565,100203,767792,1084364
123,1997,1712180,1398407,287978,25795,332540,207436,90924,515155,455673,1601728,NaN,1271486,160819,120407,990260,1208004
124,1998,1954483,1581016,337246,36221,323410,227169,125456,588080,482178,1746293,NaN,1411431,190037,142690,1078704,1487082
125,1999,2052532,1722435,297534,32563,327891,284273,139549,575190,487027,1813930,NaN,1406302,229768,127145,1049389,1826221
126,2000,2235371,1858874,340249,36248,349555,257100,134490,570026,526430,1837601,NaN,1719092,271994,198552,1248546,1927729
127,2001,2102501,1798687,278123,25691,344226,241505,131393,539294,522887,1779305,NaN,1641405,275208,186862,1179335,2253427
128,2002,2029522,1793070,219491,16961,324020,258262,144947,523831,550129,1801189,NaN,1484224,263383,159277,1061564,2034203
129,2003,2158149,1853159,285708,19282,335454,228492,149878,479063,567496,1760383,NaN,1460667,285452,145734,1029481,2124016
130,2004,2498251,2186282,293119,18850,341718,279040,144975,419853,660769,1846355,NaN,1564049,345911,184040,1034098,1802532
131,2005,2646422,2289884,337827,18711,352329,240900,118858,413060,697399,1822546,NaN,1575245,379949,166442,1028854,2005964
132,2006,2773548,2395645,355615,22288,343433,219365,127548,471585,697985,1859916,NaN,1543989,412720,179635,951634,1954573
133,2007,2833817,2463797,350195,19825,365440,287451,101031,472919,737968,1964809,NaN,1727243,430808,175733,1120702,2086175
134,2008,2478355,2219431,240299,18625,396876,311841,133842,439696,766725,2048980,NaN,1551302,416489,146643,988170,2648068
135,2009,1868195,1687553,163166,17476,369775,215687,141720,385705,728763,1841650,NaN,1078147,314608,61977,701562,2262084
136,2010,1881662,1679336,185903,16423,341243,172574,133384,378313,705708,1731222,NaN,1223968,263395,66855,893718,1788561
137,2011,2137082,1858829,260279,17974,324756,162577,108593,315755,741920,1653601,NaN,1710960,311681,107219,1292060,2041085
138,2012,1999159,1702218,269785,27156,300804,167474,131310,302561,721388,1623537,NaN,1751545,301867,94887,1354791,2176281
139,2013,1791099,1522139,233433,35527,278436,168972,147916,359661,712596,1667581,NaN,1566316,257386,102332,1206598,1454485
140,2014,1576277,1309074,220471,46732,289644,157385,175426,368464,754006,1744925,NaN,1636781,223530,81538,1331713,1576170
141,2015,1364612,1106813,203191,54608,190177,142356,150226,257204,533032,1272995,NaN,1494208,214698,72305,1207205,1640268
142,2016,1349587,1064998,235658,48931,174017,145789,159230,211754,529792,1220582,NaN,1535061,182695,73399,1278967,1673055
143,2017,1365910,1065530,231106,69274,170455,141649,168620,248696,469815,1199235,NaN,1756862,168959,65707,1522196,1815260

In [522]:
df= df.fillna(axis=1, method='ffill')
df

,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year of construction,Wooden building,Wooden building,Wooden building,Wooden building,Wooden building,Wooden building,Wooden building,Wooden building,Wooden building,Wooden building,Wooden building,Non-wooden buildings,Non-wooden buildings,Non-wooden buildings,Non-wooden buildings,Non-wooden buildings
2,NaN,Residential buildings,Detached houses,Attached houses,Blocks of flats,B Free-time residential buildings,CDE Commercial and office buildings,FGHL Public service buildings,M Agricultural buildings,N Other buildings,Non-residential buildings,Non-residential buildings,Residential buildings,Detached houses,Attached houses,Blocks of flats,Non-residential buildings
121,1995,1535633,1306540,207700,21393,369952,196062,88531,378829,453454,1486828,"Building material, NonWood",1248319,149033,115110,984176,901244
122,1996,1431577,1185993,225757,19827,345019,187045,130985,409591,441707,1514347,1514347,1000560,132565,100203,767792,1084364
123,1997,1712180,1398407,287978,25795,332540,207436,90924,515155,455673,1601728,1601728,1271486,160819,120407,990260,1208004
124,1998,1954483,1581016,337246,36221,323410,227169,125456,588080,482178,1746293,1746293,1411431,190037,142690,1078704,1487082
125,1999,2052532,1722435,297534,32563,327891,284273,139549,575190,487027,1813930,1813930,1406302,229768,127145,1049389,1826221
126,2000,2235371,1858874,340249,36248,349555,257100,134490,570026,526430,1837601,1837601,1719092,271994,198552,1248546,1927729
127,2001,2102501,1798687,278123,25691,344226,241505,131393,539294,522887,1779305,1779305,1641405,275208,186862,1179335,2253427
128,2002,2029522,1793070,219491,16961,324020,258262,144947,523831,550129,1801189,1801189,1484224,263383,159277,1061564,2034203
129,2003,2158149,1853159,285708,19282,335454,228492,149878,479063,567496,1760383,1760383,1460667,285452,145734,1029481,2124016
130,2004,2498251,2186282,293119,18850,341718,279040,144975,419853,660769,1846355,1846355,1564049,345911,184040,1034098,1802532
131,2005,2646422,2289884,337827,18711,352329,240900,118858,413060,697399,1822546,1822546,1575245,379949,166442,1028854,2005964
132,2006,2773548,2395645,355615,22288,343433,219365,127548,471585,697985,1859916,1859916,1543989,412720,179635,951634,1954573
133,2007,2833817,2463797,350195,19825,365440,287451,101031,472919,737968,1964809,1964809,1727243,430808,175733,1120702,2086175
134,2008,2478355,2219431,240299,18625,396876,311841,133842,439696,766725,2048980,2048980,1551302,416489,146643,988170,2648068
135,2009,1868195,1687553,163166,17476,369775,215687,141720,385705,728763,1841650,1841650,1078147,314608,61977,701562,2262084
136,2010,1881662,1679336,185903,16423,341243,172574,133384,378313,705708,1731222,1731222,1223968,263395,66855,893718,1788561
137,2011,2137082,1858829,260279,17974,324756,162577,108593,315755,741920,1653601,1653601,1710960,311681,107219,1292060,2041085
138,2012,1999159,1702218,269785,27156,300804,167474,131310,302561,721388,1623537,1623537,1751545,301867,94887,1354791,2176281
139,2013,1791099,1522139,233433,35527,278436,168972,147916,359661,712596,1667581,1667581,1566316,257386,102332,1206598,1454485
140,2014,1576277,1309074,220471,46732,289644,157385,175426,368464,754006,1744925,1744925,1636781,223530,81538,1331713,1576170
141,2015,1364612,1106813,203191,54608,190177,142356,150226,257204,533032,1272995,1272995,1494208,214698,72305,1207205,1640268
142,2016,1349587,1064998,235658,48931,174017,145789,159230,211754,529792,1220582,1220582,1535061,182695,73399,1278967,1673055
143,2017,1365910,1065530,231106,69274,170455,141649,168620,248696,469815,1199235,1199235,1756862,168959,65707,1522196,1815260

In [523]:
df= df.drop(['Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 17'], axis= 1)
df.head()

,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 16,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year of construction,Wooden building,Wooden building,Wooden building,Wooden building,Wooden building,Non-wooden buildings,Non-wooden buildings,Non-wooden buildings,Non-wooden buildings,Non-wooden buildings
2,NaN,Residential buildings,Detached houses,Attached houses,Blocks of flats,Non-residential buildings,Residential buildings,Detached houses,Attached houses,Blocks of flats,Non-residential buildings
121,1995,1535633,1306540,207700,21393,1486828,1248319,149033,115110,984176,901244
122,1996,1431577,1185993,225757,19827,1514347,1000560,132565,100203,767792,1084364

In [524]:
df = df.drop([df.index[0]])
df

,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 16,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 27
1,Year of construction,Wooden building,Wooden building,Wooden building,Wooden building,Wooden building,Non-wooden buildings,Non-wooden buildings,Non-wooden buildings,Non-wooden buildings,Non-wooden buildings
2,NaN,Residential buildings,Detached houses,Attached houses,Blocks of flats,Non-residential buildings,Residential buildings,Detached houses,Attached houses,Blocks of flats,Non-residential buildings
121,1995,1535633,1306540,207700,21393,1486828,1248319,149033,115110,984176,901244
122,1996,1431577,1185993,225757,19827,1514347,1000560,132565,100203,767792,1084364
123,1997,1712180,1398407,287978,25795,1601728,1271486,160819,120407,990260,1208004
124,1998,1954483,1581016,337246,36221,1746293,1411431,190037,142690,1078704,1487082
125,1999,2052532,1722435,297534,32563,1813930,1406302,229768,127145,1049389,1826221
126,2000,2235371,1858874,340249,36248,1837601,1719092,271994,198552,1248546,1927729
127,2001,2102501,1798687,278123,25691,1779305,1641405,275208,186862,1179335,2253427
128,2002,2029522,1793070,219491,16961,1801189,1484224,263383,159277,1061564,2034203
129,2003,2158149,1853159,285708,19282,1760383,1460667,285452,145734,1029481,2124016
130,2004,2498251,2186282,293119,18850,1846355,1564049,345911,184040,1034098,1802532
131,2005,2646422,2289884,337827,18711,1822546,1575245,379949,166442,1028854,2005964
132,2006,2773548,2395645,355615,22288,1859916,1543989,412720,179635,951634,1954573
133,2007,2833817,2463797,350195,19825,1964809,1727243,430808,175733,1120702,2086175
134,2008,2478355,2219431,240299,18625,2048980,1551302,416489,146643,988170,2648068
135,2009,1868195,1687553,163166,17476,1841650,1078147,314608,61977,701562,2262084
136,2010,1881662,1679336,185903,16423,1731222,1223968,263395,66855,893718,1788561
137,2011,2137082,1858829,260279,17974,1653601,1710960,311681,107219,1292060,2041085
138,2012,1999159,1702218,269785,27156,1623537,1751545,301867,94887,1354791,2176281
139,2013,1791099,1522139,233433,35527,1667581,1566316,257386,102332,1206598,1454485
140,2014,1576277,1309074,220471,46732,1744925,1636781,223530,81538,1331713,1576170
141,2015,1364612,1106813,203191,54608,1272995,1494208,214698,72305,1207205,1640268
142,2016,1349587,1064998,235658,48931,1220582,1535061,182695,73399,1278967,1673055
143,2017,1365910,1065530,231106,69274,1199235,1756862,168959,65707,1522196,1815260

In [525]:
df= df.transpose()
df

,1,2,121,122,123,124,125,126,127,128,...,134,135,136,137,138,139,140,141,142,143
Unnamed: 3,Year of construction,NaN,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Unnamed: 5,Wooden building,Residential buildings,1535633,1431577,1712180,1954483,2052532,2235371,2102501,2029522,...,2478355,1868195,1881662,2137082,1999159,1791099,1576277,1364612,1349587,1365910
Unnamed: 7,Wooden building,Detached houses,1306540,1185993,1398407,1581016,1722435,1858874,1798687,1793070,...,2219431,1687553,1679336,1858829,1702218,1522139,1309074,1106813,1064998,1065530
Unnamed: 9,Wooden building,Attached houses,207700,225757,287978,337246,297534,340249,278123,219491,...,240299,163166,185903,260279,269785,233433,220471,203191,235658,231106
Unnamed: 10,Wooden building,Blocks of flats,21393,19827,25795,36221,32563,36248,25691,16961,...,18625,17476,16423,17974,27156,35527,46732,54608,48931,69274
Unnamed: 16,Wooden building,Non-residential buildings,1486828,1514347,1601728,1746293,1813930,1837601,1779305,1801189,...,2048980,1841650,1731222,1653601,1623537,1667581,1744925,1272995,1220582,1199235
Unnamed: 18,Non-wooden buildings,Residential buildings,1248319,1000560,1271486,1411431,1406302,1719092,1641405,1484224,...,1551302,1078147,1223968,1710960,1751545,1566316,1636781,1494208,1535061,1756862
Unnamed: 19,Non-wooden buildings,Detached houses,149033,132565,160819,190037,229768,271994,275208,263383,...,416489,314608,263395,311681,301867,257386,223530,214698,182695,168959
Unnamed: 20,Non-wooden buildings,Attached houses,115110,100203,120407,142690,127145,198552,186862,159277,...,146643,61977,66855,107219,94887,102332,81538,72305,73399,65707
Unnamed: 21,Non-wooden buildings,Blocks of flats,984176,767792,990260,1078704,1049389,1248546,1179335,1061564,...,988170,701562,893718,1292060,1354791,1206598,1331713,1207205,1278967,1522196
Unnamed: 27,Non-wooden buildings,Non-residential buildings,901244,1084364,1208004,1487082,1826221,1927729,2253427,2034203,...,2648068,2262084,1788561,2041085,2176281,1454485,1576170,1640268,1673055,1815260

In [526]:
df.columns = df.iloc[0]
df.head()

Unnamed: 3,Year of construction,NaN,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Unnamed: 3,Year of construction,NaN,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Unnamed: 5,Wooden building,Residential buildings,1535633,1431577,1712180,1954483,2052532,2235371,2102501,2029522,...,2478355,1868195,1881662,2137082,1999159,1791099,1576277,1364612,1349587,1365910
Unnamed: 7,Wooden building,Detached houses,1306540,1185993,1398407,1581016,1722435,1858874,1798687,1793070,...,2219431,1687553,1679336,1858829,1702218,1522139,1309074,1106813,1064998,1065530
Unnamed: 9,Wooden building,Attached houses,207700,225757,287978,337246,297534,340249,278123,219491,...,240299,163166,185903,260279,269785,233433,220471,203191,235658,231106
Unnamed: 10,Wooden building,Blocks of flats,21393,19827,25795,36221,32563,36248,25691,16961,...,18625,17476,16423,17974,27156,35527,46732,54608,48931,69274

In [527]:
df= df.drop(['Unnamed: 3'])
df

Unnamed: 3,Year of construction,NaN,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Unnamed: 5,Wooden building,Residential buildings,1535633,1431577,1712180,1954483,2052532,2235371,2102501,2029522,...,2478355,1868195,1881662,2137082,1999159,1791099,1576277,1364612,1349587,1365910
Unnamed: 7,Wooden building,Detached houses,1306540,1185993,1398407,1581016,1722435,1858874,1798687,1793070,...,2219431,1687553,1679336,1858829,1702218,1522139,1309074,1106813,1064998,1065530
Unnamed: 9,Wooden building,Attached houses,207700,225757,287978,337246,297534,340249,278123,219491,...,240299,163166,185903,260279,269785,233433,220471,203191,235658,231106
Unnamed: 10,Wooden building,Blocks of flats,21393,19827,25795,36221,32563,36248,25691,16961,...,18625,17476,16423,17974,27156,35527,46732,54608,48931,69274
Unnamed: 16,Wooden building,Non-residential buildings,1486828,1514347,1601728,1746293,1813930,1837601,1779305,1801189,...,2048980,1841650,1731222,1653601,1623537,1667581,1744925,1272995,1220582,1199235
Unnamed: 18,Non-wooden buildings,Residential buildings,1248319,1000560,1271486,1411431,1406302,1719092,1641405,1484224,...,1551302,1078147,1223968,1710960,1751545,1566316,1636781,1494208,1535061,1756862
Unnamed: 19,Non-wooden buildings,Detached houses,149033,132565,160819,190037,229768,271994,275208,263383,...,416489,314608,263395,311681,301867,257386,223530,214698,182695,168959
Unnamed: 20,Non-wooden buildings,Attached houses,115110,100203,120407,142690,127145,198552,186862,159277,...,146643,61977,66855,107219,94887,102332,81538,72305,73399,65707
Unnamed: 21,Non-wooden buildings,Blocks of flats,984176,767792,990260,1078704,1049389,1248546,1179335,1061564,...,988170,701562,893718,1292060,1354791,1206598,1331713,1207205,1278967,1522196
Unnamed: 27,Non-wooden buildings,Non-residential buildings,901244,1084364,1208004,1487082,1826221,1927729,2253427,2034203,...,2648068,2262084,1788561,2041085,2176281,1454485,1576170,1640268,1673055,1815260

In [528]:
df.columns

Index(['Year of construction ',                     nan,
                        '1995',                  '1996',
                        '1997',                  '1998',
                        '1999',                  '2000',
                        '2001',                  '2002',
                        '2003',                  '2004',
                        '2005',                  '2006',
                        '2007',                  '2008',
                        '2009',                  '2010',
                        '2011',                  '2012',
                        '2013',                  '2014',
                        '2015',                  '2016',
                        '2017'],
      dtype='object', name='Unnamed: 3')

In [529]:
df = df.rename(columns = {'Year of construction ': 'building material', np.nan: 'Building type'}, inplace = False)
df

Unnamed: 3,building material,Building type,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Unnamed: 5,Wooden building,Residential buildings,1535633,1431577,1712180,1954483,2052532,2235371,2102501,2029522,...,2478355,1868195,1881662,2137082,1999159,1791099,1576277,1364612,1349587,1365910
Unnamed: 7,Wooden building,Detached houses,1306540,1185993,1398407,1581016,1722435,1858874,1798687,1793070,...,2219431,1687553,1679336,1858829,1702218,1522139,1309074,1106813,1064998,1065530
Unnamed: 9,Wooden building,Attached houses,207700,225757,287978,337246,297534,340249,278123,219491,...,240299,163166,185903,260279,269785,233433,220471,203191,235658,231106
Unnamed: 10,Wooden building,Blocks of flats,21393,19827,25795,36221,32563,36248,25691,16961,...,18625,17476,16423,17974,27156,35527,46732,54608,48931,69274
Unnamed: 16,Wooden building,Non-residential buildings,1486828,1514347,1601728,1746293,1813930,1837601,1779305,1801189,...,2048980,1841650,1731222,1653601,1623537,1667581,1744925,1272995,1220582,1199235
Unnamed: 18,Non-wooden buildings,Residential buildings,1248319,1000560,1271486,1411431,1406302,1719092,1641405,1484224,...,1551302,1078147,1223968,1710960,1751545,1566316,1636781,1494208,1535061,1756862
Unnamed: 19,Non-wooden buildings,Detached houses,149033,132565,160819,190037,229768,271994,275208,263383,...,416489,314608,263395,311681,301867,257386,223530,214698,182695,168959
Unnamed: 20,Non-wooden buildings,Attached houses,115110,100203,120407,142690,127145,198552,186862,159277,...,146643,61977,66855,107219,94887,102332,81538,72305,73399,65707
Unnamed: 21,Non-wooden buildings,Blocks of flats,984176,767792,990260,1078704,1049389,1248546,1179335,1061564,...,988170,701562,893718,1292060,1354791,1206598,1331713,1207205,1278967,1522196
Unnamed: 27,Non-wooden buildings,Non-residential buildings,901244,1084364,1208004,1487082,1826221,1927729,2253427,2034203,...,2648068,2262084,1788561,2041085,2176281,1454485,1576170,1640268,1673055,1815260

In [530]:
#Add column to a dataframe
df['building types by material'] = ['Timber residential buildings', 'Timber detached houses','Timber attached houses','Timber blocks of flats','Timber non-residential buildings', 'Non-timber residential buildings', 'Non-timber detached houses','Non-timber attached houses','Non-timber blocks of flats','Non-timber non-residential buildings']
df

Unnamed: 3,building material,Building type,1995,1996,1997,1998,1999,2000,2001,2002,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,building types by material
Unnamed: 5,Wooden building,Residential buildings,1535633,1431577,1712180,1954483,2052532,2235371,2102501,2029522,...,1868195,1881662,2137082,1999159,1791099,1576277,1364612,1349587,1365910,Timber residential buildings
Unnamed: 7,Wooden building,Detached houses,1306540,1185993,1398407,1581016,1722435,1858874,1798687,1793070,...,1687553,1679336,1858829,1702218,1522139,1309074,1106813,1064998,1065530,Timber detached houses
Unnamed: 9,Wooden building,Attached houses,207700,225757,287978,337246,297534,340249,278123,219491,...,163166,185903,260279,269785,233433,220471,203191,235658,231106,Timber attached houses
Unnamed: 10,Wooden building,Blocks of flats,21393,19827,25795,36221,32563,36248,25691,16961,...,17476,16423,17974,27156,35527,46732,54608,48931,69274,Timber blocks of flats
Unnamed: 16,Wooden building,Non-residential buildings,1486828,1514347,1601728,1746293,1813930,1837601,1779305,1801189,...,1841650,1731222,1653601,1623537,1667581,1744925,1272995,1220582,1199235,Timber non-residential buildings
Unnamed: 18,Non-wooden buildings,Residential buildings,1248319,1000560,1271486,1411431,1406302,1719092,1641405,1484224,...,1078147,1223968,1710960,1751545,1566316,1636781,1494208,1535061,1756862,Non-timber residential buildings
Unnamed: 19,Non-wooden buildings,Detached houses,149033,132565,160819,190037,229768,271994,275208,263383,...,314608,263395,311681,301867,257386,223530,214698,182695,168959,Non-timber detached houses
Unnamed: 20,Non-wooden buildings,Attached houses,115110,100203,120407,142690,127145,198552,186862,159277,...,61977,66855,107219,94887,102332,81538,72305,73399,65707,Non-timber attached houses
Unnamed: 21,Non-wooden buildings,Blocks of flats,984176,767792,990260,1078704,1049389,1248546,1179335,1061564,...,701562,893718,1292060,1354791,1206598,1331713,1207205,1278967,1522196,Non-timber blocks of flats
Unnamed: 27,Non-wooden buildings,Non-residential buildings,901244,1084364,1208004,1487082,1826221,1927729,2253427,2034203,...,2262084,1788561,2041085,2176281,1454485,1576170,1640268,1673055,1815260,Non-timber non-residential buildings

In [531]:
df= df.set_index('building types by material')

In [532]:
df

Unnamed: 3,building material,Building type,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
building types by material,,,,,,,,,,,,,,,,,,,,,
Timber residential buildings,Wooden building,Residential buildings,1535633,1431577,1712180,1954483,2052532,2235371,2102501,2029522,...,2478355,1868195,1881662,2137082,1999159,1791099,1576277,1364612,1349587,1365910
Timber detached houses,Wooden building,Detached houses,1306540,1185993,1398407,1581016,1722435,1858874,1798687,1793070,...,2219431,1687553,1679336,1858829,1702218,1522139,1309074,1106813,1064998,1065530
Timber attached houses,Wooden building,Attached houses,207700,225757,287978,337246,297534,340249,278123,219491,...,240299,163166,185903,260279,269785,233433,220471,203191,235658,231106
Timber blocks of flats,Wooden building,Blocks of flats,21393,19827,25795,36221,32563,36248,25691,16961,...,18625,17476,16423,17974,27156,35527,46732,54608,48931,69274
Timber non-residential buildings,Wooden building,Non-residential buildings,1486828,1514347,1601728,1746293,1813930,1837601,1779305,1801189,...,2048980,1841650,1731222,1653601,1623537,1667581,1744925,1272995,1220582,1199235
Non-timber residential buildings,Non-wooden buildings,Residential buildings,1248319,1000560,1271486,1411431,1406302,1719092,1641405,1484224,...,1551302,1078147,1223968,1710960,1751545,1566316,1636781,1494208,1535061,1756862
Non-timber detached houses,Non-wooden buildings,Detached houses,149033,132565,160819,190037,229768,271994,275208,263383,...,416489,314608,263395,311681,301867,257386,223530,214698,182695,168959
Non-timber attached houses,Non-wooden buildings,Attached houses,115110,100203,120407,142690,127145,198552,186862,159277,...,146643,61977,66855,107219,94887,102332,81538,72305,73399,65707
Non-timber blocks of flats,Non-wooden buildings,Blocks of flats,984176,767792,990260,1078704,1049389,1248546,1179335,1061564,...,988170,701562,893718,1292060,1354791,1206598,1331713,1207205,1278967,1522196
Non-timber non-residential buildings,Non-wooden buildings,Non-residential buildings,901244,1084364,1208004,1487082,1826221,1927729,2253427,2034203,...,2648068,2262084,1788561,2041085,2176281,1454485,1576170,1640268,1673055,1815260

In [533]:
df= df.drop(['building material','Building type'], axis= 1)
df

Unnamed: 3,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
building types by material,,,,,,,,,,,,,,,,,,,,,
Timber residential buildings,1535633,1431577,1712180,1954483,2052532,2235371,2102501,2029522,2158149,2498251,...,2478355,1868195,1881662,2137082,1999159,1791099,1576277,1364612,1349587,1365910
Timber detached houses,1306540,1185993,1398407,1581016,1722435,1858874,1798687,1793070,1853159,2186282,...,2219431,1687553,1679336,1858829,1702218,1522139,1309074,1106813,1064998,1065530
Timber attached houses,207700,225757,287978,337246,297534,340249,278123,219491,285708,293119,...,240299,163166,185903,260279,269785,233433,220471,203191,235658,231106
Timber blocks of flats,21393,19827,25795,36221,32563,36248,25691,16961,19282,18850,...,18625,17476,16423,17974,27156,35527,46732,54608,48931,69274
Timber non-residential buildings,1486828,1514347,1601728,1746293,1813930,1837601,1779305,1801189,1760383,1846355,...,2048980,1841650,1731222,1653601,1623537,1667581,1744925,1272995,1220582,1199235
Non-timber residential buildings,1248319,1000560,1271486,1411431,1406302,1719092,1641405,1484224,1460667,1564049,...,1551302,1078147,1223968,1710960,1751545,1566316,1636781,1494208,1535061,1756862
Non-timber detached houses,149033,132565,160819,190037,229768,271994,275208,263383,285452,345911,...,416489,314608,263395,311681,301867,257386,223530,214698,182695,168959
Non-timber attached houses,115110,100203,120407,142690,127145,198552,186862,159277,145734,184040,...,146643,61977,66855,107219,94887,102332,81538,72305,73399,65707
Non-timber blocks of flats,984176,767792,990260,1078704,1049389,1248546,1179335,1061564,1029481,1034098,...,988170,701562,893718,1292060,1354791,1206598,1331713,1207205,1278967,1522196
Non-timber non-residential buildings,901244,1084364,1208004,1487082,1826221,1927729,2253427,2034203,2124016,1802532,...,2648068,2262084,1788561,2041085,2176281,1454485,1576170,1640268,1673055,1815260

In [534]:
df.astype(int)

Unnamed: 3,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
building types by material,,,,,,,,,,,,,,,,,,,,,
Timber residential buildings,1535633,1431577,1712180,1954483,2052532,2235371,2102501,2029522,2158149,2498251,...,2478355,1868195,1881662,2137082,1999159,1791099,1576277,1364612,1349587,1365910
Timber detached houses,1306540,1185993,1398407,1581016,1722435,1858874,1798687,1793070,1853159,2186282,...,2219431,1687553,1679336,1858829,1702218,1522139,1309074,1106813,1064998,1065530
Timber attached houses,207700,225757,287978,337246,297534,340249,278123,219491,285708,293119,...,240299,163166,185903,260279,269785,233433,220471,203191,235658,231106
Timber blocks of flats,21393,19827,25795,36221,32563,36248,25691,16961,19282,18850,...,18625,17476,16423,17974,27156,35527,46732,54608,48931,69274
Timber non-residential buildings,1486828,1514347,1601728,1746293,1813930,1837601,1779305,1801189,1760383,1846355,...,2048980,1841650,1731222,1653601,1623537,1667581,1744925,1272995,1220582,1199235
Non-timber residential buildings,1248319,1000560,1271486,1411431,1406302,1719092,1641405,1484224,1460667,1564049,...,1551302,1078147,1223968,1710960,1751545,1566316,1636781,1494208,1535061,1756862
Non-timber detached houses,149033,132565,160819,190037,229768,271994,275208,263383,285452,345911,...,416489,314608,263395,311681,301867,257386,223530,214698,182695,168959
Non-timber attached houses,115110,100203,120407,142690,127145,198552,186862,159277,145734,184040,...,146643,61977,66855,107219,94887,102332,81538,72305,73399,65707
Non-timber blocks of flats,984176,767792,990260,1078704,1049389,1248546,1179335,1061564,1029481,1034098,...,988170,701562,893718,1292060,1354791,1206598,1331713,1207205,1278967,1522196
Non-timber non-residential buildings,901244,1084364,1208004,1487082,1826221,1927729,2253427,2034203,2124016,1802532,...,2648068,2262084,1788561,2041085,2176281,1454485,1576170,1640268,1673055,1815260

In [426]:
Timber_detached_and_attahed_houses = df.loc[['Timber detached houses', 'Timber attached houses']].sum()
Nontimber_detached_and_attahed_houses = df.loc[['Timber detached houses', 'Timber attached houses']].sum()

In [535]:
df.to_csv(r'C:\Users\nasirib2\OneDrive - Aalto University\Output.csv')

SyntaxError: invalid syntax (<ipython-input-427-685c6fa57aa2>, line 1)